<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        class="profile-avatar"
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %> avatar"
      >
    </div>
  <% } %>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <div class="container">
    <h2>Animes posted: </h2>
    <% if (profile.animes.length) {%>
    <% profile.animes.forEach(anime => { %>
      <h4><a href="/animes/<%= anime._id %>"> <%= anime.mainTitle %>  </a></h4>
    <% }) %> 
    <% } else { %>
      <h3><%= profile.name %> has no Anime posted</h3>
    <% } %>   
  </div>
</main>

<%- include('../partials/footer') %>