<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<!-- style="max-width: 640px;" -->
<section>
  <h1>Anime List</h1>
  <h2>Check out these Anime</h2>
  
	<div class="row" data-masonry='{"percentPosition": true }'>
  <% animes.forEach(anime => { %>
    <div class="card mb-3" style="max-width: 40rem; padding-right: 0px;">
      <div class="row">
        <div class="col-md-4 bg-light" style="max-width: 40rem; padding-left: 1px; padding-right: 1px;">
          <a href="/animes/<%= anime._id %>">
            <img src="<%= anime.imageURL %>"  class="img-fluid rounded-start" alt="  ¯\_(ツ)_/¯ ">
          </a>
        </div>
        <div class="col-md-8" style=" padding-left: 0px;">
          <div class="card-body">
            <h5 class="card-title"> <a href="/animes/<%= anime._id %>"> <%= anime.mainTitle %> </a> </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= anime.studio %> </h6>
            <p class="card-text"><%= anime.description.slice(0,300) %>...  </p>
            <p class="card-text">Aired <%= anime.seasonAired %> <%= anime.yearAired %></p>
          </div>
          <div class="card-footer">
            <a href="/animes/<%= anime._id %>" class="btn btn-primary">More Information</a>
          </div>
        </div>
    </div>
    </div>
      
  <% }) %>
</div>
  
  
  
</section>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<%- include('../partials/footer') %>