<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Anime List</h1>
  <% if (user) {%>
    <h2>Add an Anime to the list</h2>
    <form action ="/animes" method="POST">
      <label>
        Title:
        <input type="text" name="mainTitle">
      </label>
      <label>
        Image URL:
        <input type="text" name="imageURL">
      </label>
      <label>
        Studio:
        <input type="text" name="studio">
      </label>
      <label>
        Year Aired:
        <input type="number" name="yearAired">
      </label>
      <label>
        Season Aired:
        <select name="seasonAired">
          <option value="Winter" selected>Winter</option>
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
        </select>
      </label>
      <label>
        <textarea name="description" rows="10" cols="30" placeholder="Write a description of the series"></textarea>
      </label>
      <button type="submit">Add Anime</button>
    </form> 
    <% } %> 
  <h2>Check out these Anime</h2>
	<div class="row">
  <% animes.forEach(anime => { %>
    <div class=""col-sm-6>
      <div class="card" style="width: 18rem;">
        <img src="<%= anime.imageURL %>"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <a href="/animes/<%= anime._id %>"> <%= anime.mainTitle %> </a> </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= anime.studio %> </h6>
          <p class="card-text"><%= anime.description %>  </p>
          <p class="card-text">Aired <%= anime.seasonAired %> <%= anime.yearAired %></p>
          <a href="/animes/<%= anime._id %>" class="btn btn-primary">Join Discussion</a>
        </div>
      </div>
    </div>
  <% }) %>
  </div>
  
  
</section>

<%- include('../partials/footer') %>