<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>Created by <%= anime.owner.name %>...</p>
  <img src=<%= anime.imageURL %> alt=<%= anime.mainTitle %>>
  <h1><%= anime.mainTitle %></h1>
  <h5>Studio: <%= anime.studio %> </h2>
  <h5>Aired <%= anime.seasonAired %> <%= anime.yearAired %> </h5>
  <p><%= anime.description %> </p>

  <%# User Identification for edits %>
  <% if (anime.owner.equals(user?.profile._id)) { %>
    <form action="/animes/<%= anime._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit this Anime</button>
    </form>
    <%# EDIT code end %> 
    <%# DELETE code begin %>
    <form action="/animes/<%= anime._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this Anime</button>
    </form>
    <%# DELETE code end %> 
  <% } %>

  <%#  %>
  <% if (user) {%>
    <h2>Add a Review</h2>
    
    
    <form action="/animes/<%= anime._id %>/reviews" method="POST">
      <label>
        Score:
        <select name="score">
          <option value=1>1 - Terrible</option>
          <option value=2>2</option>
          <option value=3 selected>3</option>
          <option value=4>4</option>
          <option value=5>5 - Great</option>
        </select>
      </label>
      <label>
        <textarea name="pageReviews" rows="10" cols="30" placeholder="Type here"></textarea>
      </label>
      <button type="submit">Add Review</button>
    </form>
  <% } %>
  <% if (anime.reviews.length) {%>
    <% anime.reviews.forEach(function(review) {%> 
    <h3><%= review.author.name %> posted on <%=review.createdAt.toLocaleDateString()%></h3>
    <h4><%= review.score %> / 5 </h4>
    <p><%= review.pageReviews %></p>
    <%# User Identification for delete review %>
    <% if (review.author.equals(user?.profile._id)) {%>
      <form action="/animes/<%= anime._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete Post</button>
      </form>
    <% } %>
    <% }) %> 
  <% } else { %>
    <h3>No Posts Yet</h3>
  <% } %>  
    
</section>

<%- include('../partials/footer') %>